USE [master]
GO
/****** Object:  Database [futbolDB]    Script Date: 24/06/2019 21:40:41 ******/
CREATE DATABASE [futbolDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'futbolDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\futbolDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'futbolDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\futbolDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [futbolDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [futbolDB]
GO
/****** Object:  Table [dbo].[tabla_Entrenadores]    Script Date: 24/06/2019 21:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabla_Entrenadores](
	[dni] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NULL,
	[edad] [int] NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_tabla_Entrenadores] PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabla_Equipos]    Script Date: 24/06/2019 21:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabla_Equipos](
	[idEquipo] [varchar](30) NOT NULL,
	[idEntrenador] [varchar](50) NULL,
	[idJugador] [varchar](10) NULL,
	[nombreCategoria] [varchar](50) NULL,
 CONSTRAINT [PK_tabla_Equipos] PRIMARY KEY CLUSTERED 
(
	[idEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabla_Jugadores]    Script Date: 24/06/2019 21:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabla_Jugadores](
	[dni] [varchar](10) NOT NULL,
	[nombre] [varchar](50) NULL,
	[partidosJugados] [int] NULL,
	[trofeosObtenidos] [int] NULL,
	[talla] [decimal](18, 0) NULL,
	[peso] [decimal](18, 0) NULL,
	[edad] [int] NULL,
	[posicionDeJuego] [varchar](50) NULL,
 CONSTRAINT [PK_tabla_Jugadores] PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tabla_Equipos]  WITH CHECK ADD  CONSTRAINT [FK_tabla_Equipos_tabla_Entrenadores] FOREIGN KEY([idEntrenador])
REFERENCES [dbo].[tabla_Entrenadores] ([dni])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tabla_Equipos] CHECK CONSTRAINT [FK_tabla_Equipos_tabla_Entrenadores]
GO
ALTER TABLE [dbo].[tabla_Equipos]  WITH CHECK ADD  CONSTRAINT [FK_tabla_Equipos_tabla_Jugadores] FOREIGN KEY([idJugador])
REFERENCES [dbo].[tabla_Jugadores] ([dni])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tabla_Equipos] CHECK CONSTRAINT [FK_tabla_Equipos_tabla_Jugadores]
GO
USE [master]
GO
